@model WeatherInfo.Models.WeatherViewModel
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <p>
                Welcome to the service, which provides information about weather in some cities. Enjoy!
            </p>
        </div>
    </section>
}
<h3>Weather Information:</h3>
<div class="round">
    @foreach (var info in Model.WeatherInfos)
    {
        if (info.CityName != null)
        {
            <text>City name: </text>@info.CityName<text><br/></text>
        }
        if (info.Country != null)
        {
            <text>Country: </text>@info.Country<text><br/></text>
        }
        if (info.Description != null)
        {
            <text>Weather description: </text>@info.Description<text><br/></text>
        }
        if (info.Elevation != null)
        {
            <text>Elevation over level of ocean: </text>@info.Elevation<text><br/></text>
        }
        if (info.Latitude.HasValue)
        {
            <text>Latitude: </text>@info.Latitude.Value<text><br/></text>
        }
        if (info.Longitude.HasValue)
        {
            <text>Longitude: </text>@info.Longitude<text><br/></text>
        }
        if (info.PressureMb.HasValue)
        {
            <text>Pressure in barometer's mm: </text>@info.PressureMb<text><br/></text>
        }
        if (info.RelativeHumidity != null)
        {
            <text>Relative humidity: </text>@info.RelativeHumidity<text><br/></text>
        }
        if (info.TemperatureCelcius.HasValue)
        {
            <text>Temperature in celcius: </text>@info.TemperatureCelcius<text><br/></text>
        }
        if (info.VisibilityDistance.HasValue)
        {
            <text>Visibility distance in km: </text>@info.VisibilityDistance<text><br/></text>
        }
        if (info.WindAngle.HasValue)
        {
            <text>Wind angle: </text>@info.WindAngle<text><br/></text>
        }
        if (info.WindDirection != null)
        {
            <text>Wind direction : </text>@info.WindDirection<text><br/></text>
        }
        if (info.WindSpeedKph.HasValue)
        {
            <text>Wind speed in kph: </text>@info.WindSpeedKph<text><br/></text>
        }
        if (info.WindSpeedMs.HasValue)
        {
            <text>Wind speed in mps: </text>@info.WindSpeedMs<text><br/></text>
        }
        <text>Measurement time in Utc: </text>@info.LastUpdated<text><br/><br/><br/></text>
    }
</div>
